# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @whilei @meowsbits @sorpaas
accounts/abi                    @whilei @meowsbits @sorpaas
consensus                       @whilei @meowsbits @sorpaas
core/                           @whilei @meowsbits @sorpaas
eth/                            @whilei @meowsbits @sorpaas
les/                            @whilei @meowsbits @sorpaas
light/                          @whilei @meowsbits @sorpaas
mobile/                         @whilei @meowsbits @sorpaas
p2p/                            @whilei @meowsbits @sorpaas
p2p/simulations                 @whilei @meowsbits @sorpaas
p2p/protocols                   @whilei @meowsbits @sorpaas
p2p/testing                     @whilei @meowsbits @sorpaas
whisper/                        @whilei @meowsbits @sorpaas
