language: go
go_import_path: github.com/ethereum/go-ethereum
sudo: false
matrix:
  include:
  - os: linux
    dist: xenial
    go: 1.13.x
    script:
    - go run build/ci.go install
    - travis_wait 60 go run build/ci.go test
    - make test-multigeth
    before_deploy:
    - sh build/deploy.sh
    deploy:
      provider: releases
      api_key:
        secure: pGlbI2DRfTzdF75hkEwP5vMIpcP1iVEeW3W41DT1X+/GQPlgDN1DB/ocXtMbEId2vJCWgt1HfCSNb9F4NBI94TMamFJQPz4zy/VIXBClG1IGesloe159vU4PixrLBgeTTcuDJRx7X45JeKlHW9LN5ABxeEhYEzPj1De6P5NDePmbFNDvhOkaf5Spk0xGLumRzzf2SHk+w3au9RQM5gVUcgr5U81Qi/ys8aGCLtZ1T+avSoX9rFoB1/YGoHllJfMoNGJr5CLiBwnFGMY8SNfD7XruFptUjTe4D0sMNTgAbT8iDPbw9s5aa2ou2eFWsuGaa8v840kLF+J0dEW0L/y88YzzRbbK3Ve6qNvka8MZ26HLSry7JtAqT6QY0W+h2yMgOmJX6ehlCGg1PoZYVwTp4d0usE88CGa8kTSNlt6/OxVmvNU5E2TPCbiTxF1yI42RliE+r7FyX5TtvXvZmSzfrlZcJFn3amC02woe1Fs0GJWvscxdqyftuyIezpaRmkIrL0X+OzYjOLJA2CH6eUdJu0O52zSLg00UeXDd4y9dBgm8AWD1k5tuHQrqq2/tF7abz2XOtmt3cuL9XYOcbXm0lf88AiOEusDaWCoPNNBmvL8mJMCwLWdNsRGQO6NhdkzqH81njP86TCdpFQi7OJDgTobEuy+NXwRkx4B0620JssU= 
      file: multi-geth*-$TRAVIS_OS_NAME.*
      file_glob: true
      draft: true
      on:
        repo: etclabscore/multi-geth
        tags: true
      skip_cleanup: true
      tag_name: "$TRAVIS_TAG"
  - os: linux
    dist: xenial
    sudo: required
    go: 1.13.x
    env:
      - ARMv5 
    git:
      submodules: false # avoid cloning ethereum/tests
    addons:
      apt:
        packages:
          - gcc-multilib
    script:
      # Switch over GCC to cross compilation (breaks 386, hence why do it here only)
      - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install gcc-arm-linux-gnueabi libc6-dev-armel-cross gcc-arm-linux-gnueabihf libc6-dev-armhf-cross gcc-aarch64-linux-gnu libc6-dev-arm64-cross
      - sudo ln -s /usr/include/asm-generic /usr/include/asm
      - GOPATH=~/go_arm GOARM=5 go run build/ci.go install -arch arm -cc arm-linux-gnueabi-gcc
    before_deploy:
      - sh build/deploy_arm.sh
    deploy:
      provider: releases
      api_key:
        secure: pGlbI2DRfTzdF75hkEwP5vMIpcP1iVEeW3W41DT1X+/GQPlgDN1DB/ocXtMbEId2vJCWgt1HfCSNb9F4NBI94TMamFJQPz4zy/VIXBClG1IGesloe159vU4PixrLBgeTTcuDJRx7X45JeKlHW9LN5ABxeEhYEzPj1De6P5NDePmbFNDvhOkaf5Spk0xGLumRzzf2SHk+w3au9RQM5gVUcgr5U81Qi/ys8aGCLtZ1T+avSoX9rFoB1/YGoHllJfMoNGJr5CLiBwnFGMY8SNfD7XruFptUjTe4D0sMNTgAbT8iDPbw9s5aa2ou2eFWsuGaa8v840kLF+J0dEW0L/y88YzzRbbK3Ve6qNvka8MZ26HLSry7JtAqT6QY0W+h2yMgOmJX6ehlCGg1PoZYVwTp4d0usE88CGa8kTSNlt6/OxVmvNU5E2TPCbiTxF1yI42RliE+r7FyX5TtvXvZmSzfrlZcJFn3amC02woe1Fs0GJWvscxdqyftuyIezpaRmkIrL0X+OzYjOLJA2CH6eUdJu0O52zSLg00UeXDd4y9dBgm8AWD1k5tuHQrqq2/tF7abz2XOtmt3cuL9XYOcbXm0lf88AiOEusDaWCoPNNBmvL8mJMCwLWdNsRGQO6NhdkzqH81njP86TCdpFQi7OJDgTobEuy+NXwRkx4B0620JssU= 
      file: multi-geth*-arm.*
      file_glob: true
      draft: true
      on:
        repo: etclabscore/multi-geth
        tags: true
      skip_cleanup: true
      tag_name: "$TRAVIS_TAG"
  - os: osx
    go: 1.13.x
    script:
    - echo "Increase the maximum number of open file descriptors on macOS"
    - NOFILE=20480
    - sudo sysctl -w kern.maxfiles=$NOFILE
    - sudo sysctl -w kern.maxfilesperproc=$NOFILE
    - sudo launchctl limit maxfiles $NOFILE $NOFILE
    - sudo launchctl limit maxfiles
    - ulimit -S -n $NOFILE
    - ulimit -n
    - unset -f cd
    - go run build/ci.go install
    before_deploy:
    - sh build/deploy.sh
    deploy:
      provider: releases
      api_key:
        secure: pGlbI2DRfTzdF75hkEwP5vMIpcP1iVEeW3W41DT1X+/GQPlgDN1DB/ocXtMbEId2vJCWgt1HfCSNb9F4NBI94TMamFJQPz4zy/VIXBClG1IGesloe159vU4PixrLBgeTTcuDJRx7X45JeKlHW9LN5ABxeEhYEzPj1De6P5NDePmbFNDvhOkaf5Spk0xGLumRzzf2SHk+w3au9RQM5gVUcgr5U81Qi/ys8aGCLtZ1T+avSoX9rFoB1/YGoHllJfMoNGJr5CLiBwnFGMY8SNfD7XruFptUjTe4D0sMNTgAbT8iDPbw9s5aa2ou2eFWsuGaa8v840kLF+J0dEW0L/y88YzzRbbK3Ve6qNvka8MZ26HLSry7JtAqT6QY0W+h2yMgOmJX6ehlCGg1PoZYVwTp4d0usE88CGa8kTSNlt6/OxVmvNU5E2TPCbiTxF1yI42RliE+r7FyX5TtvXvZmSzfrlZcJFn3amC02woe1Fs0GJWvscxdqyftuyIezpaRmkIrL0X+OzYjOLJA2CH6eUdJu0O52zSLg00UeXDd4y9dBgm8AWD1k5tuHQrqq2/tF7abz2XOtmt3cuL9XYOcbXm0lf88AiOEusDaWCoPNNBmvL8mJMCwLWdNsRGQO6NhdkzqH81njP86TCdpFQi7OJDgTobEuy+NXwRkx4B0620JssU=
      file: multi-geth*-$TRAVIS_OS_NAME.*
      file_glob: true
      draft: true
      on:
        repo: etclabscore/multi-geth
        tags: true
      skip_cleanup: true
      tag_name: "$TRAVIS_TAG"
  - os: linux
    dist: xenial
    go: 1.13.x
    env:
    - lint
    git:
      submodules: false
    script:
    - go run build/ci.go lint
