Babel==2.9.0
click==7.1.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.12
htmlmin==0.1.12
Jinja2==2.11.2
joblib==1.0.0
jsmin==2.2.2
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-git-revision-date-localized-plugin==0.8
mkdocs-material==6.2.4
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
nltk==3.5
Pygments==2.7.3
pymdown-extensions==8.1
pytz==2020.5
PyYAML==5.3.1
regex==2020.11.13
six==1.15.0
smmap==3.0.4
tornado==6.1
tqdm==4.56.0
